.container {
  color: #e6edf3;
  display: flex;
  align-items: center;
  gap: 30px;
}

span {
  font-size: 26px;
}

.filtersBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  /* border: 1px solid white; */
}

.filterItem {
  cursor: pointer;
  border: 1px solid #353941;
  padding: 10px 20px 10px 20px;
  border-radius: 100px;

  transition: 0.2s;
}

.filterItem:hover {
  border-color: #63676f;
}
